/*---------------------*/
/* Basic Setup */
/*---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------*/
/* Reusable Components */
/*---------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*HEADINGS*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color: #fff;
}

/*PARAGRAPHS*/

/*LINKS*/
a:link,
a:visited {
    color: #228ce6;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #228ce6;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

/*BUTTONS*/

.btn:link,
.btn:visited,
input[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
    background-color: #228ce6;
    border: 1px solid #228ce6;
    color: #fff;
    /*    margin-right: 15px;*/
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #229be6;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    border: 1px solid #229be6;
}

/*---------------------*/
/* Header */
/*---------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/water-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #228ce6;
}

/*---------------------*/
/* Login Modal & Signup Modal */
/*---------------------*/

#login,
#signup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.login-wrapper,
.signup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    min-height: 25rem;
    max-width: 38rem;
    border-radius: 5px;
}

.login-wrapper h3,
.signup-wrapper h3 {
    position: absolute;
    font-size: 175%;
    font-weight: bold;
    color: #228ce6;
    left: 1.1rem;
    top: 1rem;
}

.login-close,
.signup-close {
    text-align: right;
    padding-bottom: 2rem;
}

.login-close button,
.signup-close button {
    font-size: 150%;
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    outline: none;
}

.login-close button:hover,
.signup-close button:hover {
    background-color: #ff4c4c;
    color: #ffffff;
    cursor: pointer;
    border-bottom-left-radius: 5px;
}

.login-form,
.signup-form {
    width: 90%;
    margin: 0 auto;
}

.login-form label,
.signup-form label {
    display: block;
    font-weight: bold;
    padding: .5rem 0;
}

.login-form input,
.signup-form input {
    display: block;
    width: 100%;
    border-style: none;
    padding: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
    outline: none;
    font-size: 80%;
}

.login-form button,
.signup-form button {
    width: 100%;
    padding: .7rem 0;
    border-style: none;
    outline: none;
    background-color: #228ce6;
    color: white;
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
}

.login-form button:hover,
.signup-form button:hover {
    cursor: pointer;
    background-color: #229be6;
}


/*---------------------*/
/* Learn More */
/*---------------------*/

.learn-more {
    text-align: center;
}

.learn-more h2 {
    margin-bottom: 30px;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/*---------------------*/
/* Next Steps */
/*---------------------*/

.next-steps {
    background-color: #f4f4f4;
    text-align: center;
}

.next-steps h2 {
    margin-bottom: 30px;
}

.next-steps h3 {
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 30px;
}

.next-steps img {
    padding: 30px;
    height: 200px
}

/*---------------------*/
/* Footer */
/*---------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
    text-align: center;
}

footer .btn-full:link,
footer .btn-full:visited {
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 70%;
}

.social-links {
    list-style: none;
    margin-top: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}
